@charset "utf-8";

body {
    background: linear-gradient(black, green);
    display: flex;
    justify-content: center; margin-top: 50px;
    height: 100vh;
}

#btn {
    border-radius: 20px;
    height: 40px;
    margin-top: 10px;
}
#tc {
    margin-top: 100px;
}

.estilo {
    width: 50%;
    height: 100% auto;
    background-color: white;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    padding: 2vh;
}

button {
    margin-left: 10px;
    border-radius: 20px;
    background-color: gainsboro;
    border: 2px solid black;
}

#tc {
    color: green;
}

/*rgb(148, 173, 109)